*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

.life{
    display: flex;
    flex-direction: row;
}


.ccu{
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to bottom, #7861F3, #533DD0, #331CB2);
    margin-right: 20px;
}


.roguetext{
    color: white;
}

.logo{
    width: 20px;
    height: 20px;
}
nav{
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    margin-bottom: 30px;
    margin-top: 20px;
    /* background-color: blue; */
}


nav .links{
    float: right;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: right;
    gap: 0px;
    align-items: center;
}

nav .links li{
    list-style:none;
}

nav .links a{
    padding: 15px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    text-decoration: none;
    /* margin: 20px; */
}




#nav-toggle{
    position: absolute;
}
nav .icon-burger{
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

nav .icon-burger .line{
    width: 30px;
    height: 5px;
    background-color: white;
    margin: 5px;
    border-radius: 3px;
}

.check{
    display: none;
}


@media screen and (max-width:768px){
    /* nav{
        /* background-color: rgba(0,0,0,.008); */
        /* background-color: black;
        height: 40px;
        width: 45px;
    } */ */

    nav .links a{
      display:block;
      padding: 15px;
      font-size: 25px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      color: white;
      text-decoration: none;
      border: none;
      /* margin: 20px; */
  }


    nav .logo{
        float: none;
        width: auto;
        justify-content: center;
    }
    nav .links{
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 100px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        background-color: rgba(0,0,0,.8);
        overflow: hidden;
    }

    nav .links a{
        font-size:20px;
        background-color: rgba(0,0,0,.01);
    }

    nav .icon-burger{
        display: block;
    }

    nav :checked ~ .links{
        bottom: 0;
    }
    .check{
        display: none;
    }


    nav .icon-burger .line{
        /* width: 30px;
        height: 5px; */
        background-color: white;
        /* margin: 5px;
        border-radius: 3px; */
    }
}













/* first section starts here */
/* .first_section{
    height: 500px;
    width: 100%;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    /* clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%); */
    /* clip-path: polygon(50% 0%, 100% 0, 100% 5%, 100% 85%, 65% 100%, 31% 88%, 0 100%, 0% 70%, 0% 35%, 0 0); */
 */
 

#column_1{
    padding: 40px;
    margin-top: 40px;
    height: auto;
    display: flex;
    flex-direction: column;
}

#top_column{
    position: relative;
    width: 100vw;
    height: 550px;
}

.archi{
    position: absolute;
    top: 0;
    width: 50%;
    height: 90%;
    padding: 40px;
    color: white;
}

.side{
    display: flex;
    flex-direction: column;
}
#architect{
    font-size: 60px;
}


#working{
    height: 250px;
    width: 250px;
    position: absolute;
    top: 80px;
    right: 150px;
}

.bigimg{
    display: none;
}


.imageee{
    display: none;
}

.new{
    display: none;
}

.ppp{
    display: flex;
    justify-content: center;
}
.purple2{
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to bottom, #7861F3, #533DD0, #331CB2);
}
.big{
    display: none;
}

.purple{
    display: none;
}
/* second section starts here */
.second_section{
    display: flex;
    flex-direction: column;
}

.column_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


#textss{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.text{
    text-align: center;
}
.circle{
    display: flex;
    margin: 20px;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
}

.c01{
    border: 2px solid #2D16AC;
    background-color: #2D16AC;
}

.c02{
    border: 2px solid #FF7F00;
    background-color: #FF7F00;
}

.c03{
    border: 2px solid #F941BA;
    background-color: #F941BA;
}

.c04{
    border: 2px solid #3DAA33;
    background-color: #3DAA33;
}

.c05{
    border: 2px solid #9A2AF2;
    background-color: #9A2AF2;
}

.columns{
    display: flex;
    width: 300px;
    height: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 50px;
    border-radius: 10px;
    flex-direction: column;
}

.columncontwo{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.fa-cloud{
    font-size: 50px;
    color: white;
}

.fa-cog{
    font-size: 50px;
    color: white;
}

.fa-users{
    font-size: 50px;
    color: white;
}

.fa-th-large{
    font-size: 50px;
    color: white;
}
.fa-window-restore{
    font-size: 50px;
    color: white;
}






/* third section starts here */

/* #thirdsec{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 100%;
    background-color: aqua;
} */

/* #Vector_2{
    position: relative;
    width: 1260px;
    height: 400px;
} */


#thirdsec{
    position: relative;
    margin-top:100px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("images/Vector_2.png");
    background-repeat: no-repeat;
    /* background-size: 100%; */
    width: 100%;
    height: 500px;
    padding: 42px 0;
    /* background-attachment: fixed; */
    background-position: top;
    text-align: center;
    color: #f2f2f2;
  }

.t1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.move{
    position: relative;
    top: 70px;
}

.why{
    text-align: center;
}

.c1{
    display: flex;
    height: 90px;
    width: 500px;
    /* border: 2px solid pink; */
    margin: 30px;
    background-color: white;
    border-radius: 5px;
    color: black;
}

.seccir{
    display: flex;
    margin: 20px;
    position:relative;
    bottom: 10px;
    height: 70px;
    width: 70px;
    border-radius: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.time{
    height: 90px;
    width: 300px;
}

#sec1{
    background-color: #746B37;
}

#sec2{
    background-color: #64B1A8;
}

#sec3{
    background-color: #B7BE74;
}

#sec4{
    background-color: #D7B053;
}

.fa-clock-o{
    font-size: 30px;
    color: white;
}

.fa-tag{
    font-size: 30px;
    color: white;
}

.fa-file-text-o{
    font-size: 30px;
    color: white;
}

.fa-transgender{
    font-size: 30px;
    color: white;
}


/* fourth section starts here */

#fouth_section{
    display: flex;
    flex-direction: row;
    height: 700px;
    width: 100%;
}
#fourthsec{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 100%;
    background-color: white
}

.david{
    position: relative;
    bottom: 15px;
}

.numbers{
    display: flex;
    gap: 100px;
    justify-content: center;
}
.box {
    position: relative;
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
  
.rectangle {
    position: relative;
    top: 50px;
    height:200px;
    width: 350px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 15px;
  }
  
.semicircle {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 100px 100px 0 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px -10px 10px -5px rgba(0, 0, 0, 0.5);
  }

  .fa-quote-left{
    font-size: 50px;
    background: linear-gradient(to right, #ff7f00, #2d16ac);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 30px;
  }

  .review{
    margin-bottom: 20px;
  }
  .sc0{
    left: 300px;
  }

  .sc1{
    left: 700px;
  }

  .sc2{
    left: 1100px;
  }





/* fifth section starts header */

#fifth_section{
    position: relative;
    margin-top:100px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("images/Vector_3.png");
    background-repeat: no-repeat;
    /* background-size: 100%; */
    width: 100%;
    height: 300px;
    padding: 42px 0;
    /* background-attachment: fixed; */
    background-position: top;
    text-align: center;
    color: #f2f2f2;
  }
/* #fifth_section{
    background-color: aqua;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
} */


.shift{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top: 100px;
}
#fs_text{
    text-align: center;
    font-size: 35px;
}

#schedule_button{
    width: 200px;
    height: 50px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    background: linear-gradient(to bottom, #7861F3, #533DD0, #331CB2);
}

.bbb{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
}


/* sixth section starts header */
#sixth_section{
    background-color: black;
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: row;
    padding: 55px;
    gap: 30px;
    color: white;
}

#services{
    gap: 10px;
}
#roguetechdev{
    width: 150px;
    height: 90%;
}
.cu{
    text-align: center;
}
#contactus{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#phone{
    width: 350px;
    height: 90%;
    gap: 10px;
}
#contact{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#socials2{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.name{
    width: 200px;
    height: 35px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
}

.message{
    width: 200px;
    height: 100px;
    border-radius: 5px;
    border: none;
}

.send{
    height: 50px;
    width: 200px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to bottom, #7861F3, #533DD0, #331CB2);
    margin-top: 10px;
}

.sun{
    margin-left: 20px;
}

#seven{
    display: flex;
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    justify-content: center;
}

.fa-copyright{
    color: white;
    font-size: 20px;
}



/* svg{
    height: 400px;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
} */


/* seventh sec */








@media (max-width: 480px){
    *{
        box-sizing: border-box;
    }

    .container{
        max-width: 500px;
    }
    body{
        overflow-x: hidden;
    }

    /* nav{
        display: none;
    } */

    .side{
        display: flex;
        flex-direction: row-reverse;
        margin-left: 20px;
        right: 0;
        display: none;
        
    }

    .new{
        display: flex;
        position: relative;
        margin-top:100px;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        background-image: url("images/Vector_2.png");
        background-repeat: no-repeat;
        /* background-size: 100%; */
        width: 100%;
        height: 600px;
        padding: 42px 0;
        /* background-attachment: fixed; */
        background-position: top;
        text-align: center;
        color: #f2f2f2;
      }

    .help{
        
    }
    #working{
        width: 100px;
        height: 100px;
        display: none;
    }

    .tech{
        font-size: 10px;
    }


    #top_column{
        width: 100%;
        height: 200px;
    }

    .imageee{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 200px;
        position: relative;
        top: 60px;
    }

    .purple{
        display: block;
        margin-left: 120px;
        margin-top: 30px;
        width: 150px;
        height: 50px;
        border-radius: 10px;
        border: none;
        background: linear-gradient(to bottom, #7861F3, #533DD0, #331CB2);
    }

    .big{
        display: flex;
        width: 300px;
        height: 200px;
    }


    .david{
        position: relative;
        bottom: 0;
    }
    .inno{
        text-align: center;
        text-decoration: underline;
    }

    #digital{
        text-align: left;
        font-size: 50px;
    }

    .excel{
        text-align: left;
        font-size: 20px;

    }
    .rogue{
        position: relative;
        top: 70px;
        padding: 15px;
    }

    #architect{
        /* font-size: 50px;
        column-gap: purple; */
        display: none;
        font-size: 20px;
        width: 100px;
    }
    

    .archi_text{
        display: none;
    }



    .columns{
        display: flex;
        width: 250px;
        height: 200px;
        border: 1px solid grey;
        margin: 50px;
        border-radius: 10px;
        padding: 5px;
    }

    .column_container{
        flex-direction: column;
        margin-left: 30px;
    }

    .columncontwo{
        flex-direction: column;
        margin-left: 30px;
    }



    .time{
        position: relative;
        top: 10px;
        padding: 10px;
    }
    .why{
        margin-bottom: 20px;
    }

    #thirdsec{
        height: 1000px;
        margin-bottom: 0;
    }




    .circle{
        width: 90px;
        height: 100px;
    }
    .seccir{
        position: relative;
        top: 10px;
        width: 100px;
    }

    .t1{
        display: flex;
        flex-direction: column;
        position: relative;
        margin-left: 20px;
    }

    .c1{
        width: 350px;
        height: 130px;
        margin: 10px;
    }









    

    #textss{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 15px;
        position: relative;
        right: 20px;
    }
    
    .text{
        font-size: 15px;
        display: flex;
        justify-content: center;
        position: relative;
        left: 10px;
        margin-left: 35px;
    }

    .numbers{
        gap: 15px;
    }

    .purp{
        height: 50px;
        width: 100px;
    }


    .box {
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 50px;
        left: 50px;
      }
      
    .rectangle {
        position: relative;
        top: 50px;
        height:100px;
        width: 300px;
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        padding: 15px;
      }
      
    .semicircle {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 100px 100px 0 0;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px -10px 10px -5px rgba(0, 0, 0, 0.5);
      }

      .review{
        margin-bottom: 0px;
        font-size: 10px;
      }
      .sc0{
        left: 243px;
        top: 30px;
      }
    
      .sc1{
        left: 243px;
        top: 175px;
      }
    
      .sc2{
        left: 244px;
        top: 325px;
      }

      .fa-quote-left{
        font-size: 20px;
        margin-bottom: 0;
      }


      #fouth_section{
        height: 500px;
    }

    #fourthsec{
        position: relative;
        bottom: 100px;
        display: flex;
        flex-direction: column;
        height: 500px;
        width: 80%;
        background-color: white
    }
    







    #fs_text{
        font-size: 20px;
    }

    #schedule_button{
        width: 150px;
        height: 30px;
        font-size: 8px;
        border: none;
        display: block;
        border-radius: 8px;
        background: linear-gradient(to bottom, #7861F3, #533DD0, #331CB2);
    }


















    #sixth_section{
        width: 100%;
        height: 900px;
        display: flex;
        flex-direction: column;
    }

    #roguetechdev{
        display: flex;
        flex-direction: column;
        gap: 10px;
        top: 30px;
    }

    #contact{
        display: flex;
        flex-direction: column;
    }

    #phone{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    
    .cu{
        text-align: left;
    }




    .sun{
        margin-left: 0px;
    }
    
    #seven{
        display: flex;
        width: 100%;
        height: 50px;
        background-color: black;
        color: white;
        justify-content: center;
    }
    
    .fa-copyright{
        color: white;
        font-size: 20px;
    }


}




































































@media (max-width: 640px){

    html,body{
        overflow-x: hidden;
    }
    *{
        box-sizing: border-box;
    }

    .container{
        max-width: 500px;
    }
    body{
        overflow-x: hidden;
    }

    /* nav{
        display: none;
    } */

    .side{
        display: none;
        
    }

    .new{
        display: flex;
        position: relative;
        margin-top:100px;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        background-image: url("images/Vector_2.png");
        background-repeat: no-repeat;
        /* background-size: 100%; */
        width: 100%;
        height: 600px;
        padding: 42px 0;
        /* background-attachment: fixed; */
        background-position: top;
        text-align: center;
        color: #f2f2f2;
      }

    .help{
        
    }
    #working{
        width: 100px;
        height: 100px;
        display: none;
    }

    .tech{
        font-size: 10px;
    }


    #top_column{
        width: 100%;
        height: 200px;
    }

    .imageee{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 200px;
        position: relative;
        top: 60px;
    }

    .purple{
        display: block;
        margin-left: 100px;
        margin-top: 30px;
        width: 150px;
        height: 50px;
        border-radius: 10px;
        border: none;
        background: linear-gradient(to bottom, #7861F3, #533DD0, #331CB2);
    }

    .big{
        display: flex;
        width: 300px;
        height: 200px;
    }


    .david{
        position: relative;
        bottom: 0;
    }
    .inno{
        text-align: center;
        text-decoration: underline;
    }

    #digital{
        text-align: left;
        font-size: 50px;
    }

    .excel{
        text-align: left;
        font-size: 20px;

    }
    .rogue{
        position: relative;
        top: 70px;
        padding: 5px;
    }

    #architect{
        /* font-size: 50px;
        column-gap: purple; */
        display: none;
        font-size: 20px;
        width: 100px;
    }
    

    .archi_text{
        display: none;
    }



    .columns{
        display: flex;
        width: 250px;
        height: 200px;
        border: 1px solid grey;
        margin: 50px;
        border-radius: 10px;
        padding: 5px;
    }

    .column_container{
        flex-direction: column;
        margin-left: 30px;
        position: relative;
        right: 25px;
    }

    .columncontwo{
        flex-direction: column;
        margin-left: 30px;
        position: relative;
        right: 25px;
    }



    .time{
        position: relative;
        top: 5px;
        padding: 10px;
    }
    .why{
        margin-bottom: 20px;
    }

    #thirdsec{
        height: 1000px;
        margin-bottom: 0;
    }




    .circle{
        width: 90px;
        height: 100px;
    }
    .seccir{
        position: relative;
        top: 10px;
        width: 100px;
    }

    .t1{
        display: flex;
        flex-direction: column;
        position: relative;
        margin-left: 20px;
    }

    .c1{
        width: 300px;
        height: 130px;
        margin: 10px;
    }









    

    #textss{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 15px;
        position: relative;
        right: 20px;
    }
    
    .text{
        font-size: 15px;
        display: flex;
        justify-content: center;
        position: relative;
        left: 10px;
        margin-left: 35px;
    }

    .numbers{
        gap: 15px;
        width: 100%;
    }

    .purp{
        height: 50px;
        width: 100px;
    }


    .box {
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 50px;
        left: 30px;
      }
      
    .rectangle {
        position: relative;
        top: 50px;
        height:100px;
        width: 300px;
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        padding: 15px;
      }
      
    .semicircle {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 100px 100px 0 0;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px -10px 10px -5px rgba(0, 0, 0, 0.5);
      }




      .review{
        margin-bottom: 0px;
        font-size: 10px;
      }
      .sc0{
        left: 243px;
        top: 30px;
      }
    
      .sc1{
        left: 243px;
        top: 175px;
      }
    
      .sc2{
        left: 244px;
        top: 325px;
      }

      .fa-quote-left{
        font-size: 20px;
        margin-bottom: 0;
      }


      #fouth_section{
        height: 500px;
    }

    #fourthsec{
        position: relative;
        bottom: 100px;
        display: flex;
        flex-direction: column;
        height: 500px;
        width: 80%;
        background-color: white
    }
    







    #fs_text{
        font-size: 20px;
    }

    #schedule_button{
        width: 150px;
        height: 30px;
        font-size: 8px;
        border: none;
        display: block;
        border-radius: 8px;
        background: linear-gradient(to bottom, #7861F3, #533DD0, #331CB2);
    }


















    #sixth_section{
        width: 100%;
        height: 900px;
        display: flex;
        flex-direction: column;
    }

    #roguetechdev{
        display: flex;
        flex-direction: column;
        gap: 10px;
        top: 30px;
    }

    #contact{
        display: flex;
        flex-direction: column;
    }

    #phone{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    
    .cu{
        text-align: left;
    }




    .sun{
        margin-left: 0px;
    }
    
    #seven{
        display: flex;
        width: 100%;
        height: 50px;
        background-color: black;
        color: white;
        justify-content: center;
    }
    
    .fa-copyright{
        color: white;
        font-size: 20px;
    }


}






























































@media (max-width: 320px){
    *{
        box-sizing: border-box;
    }

    .container{
        max-width: 500px;
    }
    body{
        overflow-x: hidden;
    }

    /* nav{
        display: none;
    } */

    .side{
        display: flex;
        flex-direction: row-reverse;
        margin-left: 20px;
        right: 0;
        display: none;
        
    }

    .new{
        display: flex;
        position: relative;
        margin-top:100px;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        background-image: url("images/Vector_2.png");
        background-repeat: no-repeat;
        /* background-size: 100%; */
        width: 100%;
        height: 600px;
        padding: 42px 0;
        /* background-attachment: fixed; */
        background-position: top;
        text-align: center;
        color: #f2f2f2;
      }

    .help{
        
    }
    #working{
        width: 100px;
        height: 100px;
        display: none;
    }

    .tech{
        font-size: 10px;
    }


    #top_column{
        width: 100%;
        height: 200px;
    }

    .imageee{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 200px;
        position: relative;
        top: 60px;
    }

    .purple{
        display: block;
        margin-left: 120px;
        margin-top: 30px;
        width: 150px;
        height: 50px;
        border-radius: 10px;
        border: none;
        background: linear-gradient(to bottom, #7861F3, #533DD0, #331CB2);
    }

    .big{
        display: flex;
        width: 300px;
        height: 200px;
    }


    .david{
        position: relative;
        bottom: 0;
    }
    .inno{
        text-align: center;
        text-decoration: underline;
    }

    #digital{
        text-align: left;
        font-size: 50px;
    }

    .excel{
        text-align: left;
        font-size: 20px;

    }
    .rogue{
        position: relative;
        top: 70px;
        padding: 15px;
    }

    #architect{
        /* font-size: 50px;
        column-gap: purple; */
        display: none;
        font-size: 20px;
        width: 100px;
    }
    

    .archi_text{
        display: none;
    }



    .columns{
        display: flex;
        width: 250px;
        height: 200px;
        border: 1px solid grey;
        margin: 50px;
        border-radius: 10px;
        padding: 5px;
    }

    .column_container{
        flex-direction: column;
        margin-left: 30px;
    }

    .columncontwo{
        flex-direction: column;
        margin-left: 30px;
    }



    .time{
        position: relative;
        top: 10px;
        padding: 10px;
    }
    .why{
        margin-bottom: 20px;
    }

    #thirdsec{
        height: 1000px;
        margin-bottom: 0;
    }




    .circle{
        width: 90px;
        height: 100px;
    }
    .seccir{
        position: relative;
        top: 10px;
        width: 100px;
    }

    .t1{
        display: flex;
        flex-direction: column;
        position: relative;
        margin-left: 20px;
    }

    .c1{
        width: 350px;
        height: 130px;
        margin: 10px;
    }









    

    #textss{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 15px;
        position: relative;
        right: 20px;
    }
    
    .text{
        font-size: 155px;
        display: flex;
        justify-content: center;
        position: relative;
        left: 10px;
        margin-left: 35px;
    }

    .numbers{
        gap: 15px;
    }

    .purp{
        height: 50px;
        width: 100px;
    }


    .box {
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 50px;
        left: 50px;
      }
      
    .rectangle {
        position: relative;
        top: 50px;
        height:100px;
        width: 300px;
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        padding: 15px;
      }
      
    .semicircle {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 100px 100px 0 0;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px -10px 10px -5px rgba(0, 0, 0, 0.5);
      }

      .review{
        margin-bottom: 0px;
        font-size: 10px;
      }
      .sc0{
        left: 243px;
        top: 30px;
      }
    
      .sc1{
        left: 243px;
        top: 175px;
      }
    
      .sc2{
        left: 244px;
        top: 325px;
      }

      .fa-quote-left{
        font-size: 20px;
        margin-bottom: 0;
      }


      #fouth_section{
        height: 500px;
    }

    #fourthsec{
        position: relative;
        bottom: 100px;
        display: flex;
        flex-direction: column;
        height: 500px;
        width: 80%;
        background-color: white
    }
    







    #fs_text{
        font-size: 20px;
    }

    #schedule_button{
        width: 150px;
        height: 30px;
        font-size: 8px;
        border: none;
        display: block;
        border-radius: 8px;
        background: linear-gradient(to bottom, #7861F3, #533DD0, #331CB2);
    }


















    #sixth_section{
        width: 100%;
        height: 900px;
        display: flex;
        flex-direction: column;
    }

    #roguetechdev{
        display: flex;
        flex-direction: column;
        gap: 10px;
        top: 30px;
    }

    #contact{
        display: flex;
        flex-direction: column;
    }

    #phone{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    
    .cu{
        text-align: left;
    }




    .sun{
        margin-left: 0px;
    }
    
    #seven{
        display: flex;
        width: 100%;
        height: 50px;
        background-color: black;
        color: white;
        justify-content: center;
    }
    
    .fa-copyright{
        color: white;
        font-size: 20px;
    }


}